/*
    General styles
 */
.container {
    width: 70%;
    display: block;
    margin: auto;
}

.row {
    width: 100%;
}

.url-input {
    width: 100%;
}

.main-left {
    width: 25%;
    float: left;
}

.main-center {
    width: 50%;
    float: left;
}

.main-right {
    width: 25%;
    float: left;
}

.request-type {
    width: 100%;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
}

.jsonBody {
    width: 100%;
}

.errorpanel{
    background-color: #ea7ea3;
    padding: 10px;
    font-weight: bold;
}

.title{
    padding:10px;
    font-weight: bold;
    font-size: 30px;
}

/*
    Input fields
 */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/*
    Nav tabs
 */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: scroll;
    height: 300px;
}

.tabcontentResponse {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: scroll;
    height: 300px;
}

/*
    Table
*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
